.title_cotizador{
    font-size: 30px;
    color: $faradayBlue;
    padding: 30px;
    padding-bottom: 0;
}
.subtitle_cotizador{
    font-size: 20px;
    color: $faradayVio;
    padding: 10px 0 0 30px;
}
.card__title_mod{
    font-size: 28px;
    margin: 30px 0;
}

.card_cotizador{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.card__button{
    padding: 20px;
    margin: 30px;
    flex-basis: content;
    cursor: pointer;
}
.card__button:hover{
    transition: .3s;
    background-color: $faradayVio;
    color: #FFF;
}
.selector{
    cursor: pointer;
    height: auto;
    font-size: 14px;
    background-color: #FFF;
    color: $faradayVio;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
}

.descripcion{
    text-align: left;   
}
.resultado_container{
    height: auto;
    background-color: #FFF;
    border-radius: 10px;
}
.resultado{
    margin: 5%;
    font-weight: 700;
    font-size: 18px;
    color: $faradayBlue;
    text-align: left;
}