.title_cotizador{
    font-size: 30px;
    color: $faradayBlue;
    padding: 30px;
    padding-bottom: 0;
}
.subtitle_cotizador{
    font-size: 20px;
    color: $faradayVio;
    padding: 10px 0 0 30px;
}
.card__title_mod{
    font-size: 28px;
    margin: 30px 0;
}

.card_cotizador{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: start;
}

.card__button{
    padding: 20px;
    margin: 30px;
    flex-basis: content;
    cursor: pointer;
}
.card__button:hover{
    transition: .3s;
    background-color: $faradayVio;
    color: #FFF;
}
.selector{
    cursor: pointer;
    height: 50px;
    font-size: 14px;
    background-color: #FFF;
    color: #00000090;
    font-weight: 700;
    padding: 10px;
    border-radius: 14px;
}

.descripcion{
    text-align: left;   
}

.resultado{
    padding: 16px;
    border-radius: 16px;
    background-color: $faradayVio;
    color: #FFF;
    font-size: 16px;
    text-align: left;
}

.resultado_boton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}